.header{
    width: 400px;
    height: 300px;
}


.planes-alimenticios{
    height: 400px;
    width: 100%;
    padding-top: 100px;
}

.img-fluid{
    max-width: auto;
}

.img-header{
    width: 100%;
    height: 730px;;
}